$primary-color: rgba(34, 34, 35, 0.88);
$text-color: rgba(255, 255, 255, 1);

$font-weights: (
        "ultra-thin": 200,
        "thin": 400,
        "medium": 500,
        "bold": 700
);

$mobile: 800px;